body {
    background: #f3f6fc;
}

.card {
    margin-top: 40px;
    box-shadow: 0 8px 25px rgba(30,50,175,0.08);
    border-radius: 10px;
    border: none;
}

.card-header {
    background: #fff;
    border-bottom: none;
}

.card-header h4 {
    font-weight: 600;
    color: #1b2437;
}

.card-body {
    padding: 2rem;
}

.btn-primary {
    background: #2053ad;
    border: none;
    font-weight: bold;
    transition: background 0.2s;
}

.btn-primary:hover {
    background: #173c8f;
}

.form-control {
    border-radius: 7px;
    border: 1px solid #d2dae9;
    font-size: 16px;
    padding: 14px;
}

.alert-danger {
    border-radius: 7px;
    margin-bottom: 10px;
}
